@font-face {
font-family: "The-Bold-Font";
src: url("fonts/theboldfont.ttf");
}

@font-face {
font-family: "Klik-Light";
src: url("fonts/Klik-Light.otf");
}

:root {
    --pagebg:#B9CDDB;
    --contentbg:#efefef;
    --hrcolor:#bc9eff;
    --outtextbg:#efefef;
    --imgtextbg:#dedede;
    --sectiontitlebg:#bc9eff;
    --linkbarbg:#9b6dff;
    --linkcolor:#ffffff;
    --linkactive:#bc9eff;
    --margintoleft:2em;
    --margintotop:1em;
    --headersize:4em;
    --textimgmarg:4px;
    
    --marginsectiontitle:0.5em;
    
}

body{
 background-image: radial-gradient(circle, rgba(231,234,239,1) 0%, rgba(160,189,208,1) 75%, rgba(125,166,192,1) 100%);
}




.lower {
    background: var(--contentbg);
}

.content {

    width: 90%;
    background: var(--contentbg);
    margin: auto;
}

@media screen and (max-width: 800px) {
  .content {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  :root{
    --headersize: 3em
  }
}

p {
    margin: 0;
    font-family: "Klik-Light";
    font-size: 1.75em;
    text-align: left;
}

.titlebar {
    background-image: url("images/ruqqiesittin.png");
    background-repeat: no-repeat;
    background-size: cover;

    padding: 0;
    margin-bottom: 0;
}

.titlebar h1{
    font-family: The-Bold-Font;
    font-size: var(--headersize);
    text-align: right;
    padding: 24px;
    margin: 0;
}
.titlebarimg{
    padding: 0;
    max-height: var(--headersize);
    margin: 24px 24px 0 24px;
    display: inline-block;
    border-radius: 1em;
}

hr {
    height: 4px;
    border-width: 0;
    color: var(--hrcolor);
    background-color: var(--hrcolor);
    margin: 0;
    padding: 0;
}
.linkbar {
    background: var(--linkbarbg);
    font-family: "The-Bold-Font";
}

.linkbar a {
    font-size: 2em;
    padding-top: 16px;
    padding-bottom: 8px;
    padding-left: 20px;
    display: inline-block;
}

a {
    color: var(--linkcolor);
}

a:link:active, a:visited:active {
    color: var(--linkactive);
}

.about h1{

    font-family: "The-Bold-Font";
    font-size: 48pt;
    margin: 0;
}

.about {
    margin-top: var(--margintotop);
    margin-bottom: var(--margintotop);
    margin-left: var(--margintoleft);
}

code {
    background: var(--pagebg);
    padding: 4px;
}
