@font-face {
font-family: "The-Bold-Font";
src: url("fonts/theboldfont.ttf");
}

@font-face {
font-family: "Liberation-Sans";
src: url("fonts/Klik-Light.otf");
}

.sectiontitle {
    background: var(--sectiontitlebg);
    margin-top: 0;
    margin-bottom: 0;
}

.sectiontitle h1 {
    margin: 0;
    padding-top: 8px;
    padding-left: 1.5em;
    font-family: "The-Bold-Font";
}

.wikiref {
    background: var(--hrcolor);
    border-radius: 1em;
    width: max-content;
    display: inline-block;
    padding: 1em;
    margin: var(--margintotop);
    border: solid 2px;
    border-color: var(--linkbarbg);
}

.wikiref a {
    font-family: "The-Bold-Font";
    font-size: 1.75em;
}
