@font-face {
font-family: "The-Bold-Font";
src: url("fonts/theboldfont.ttf");
}

@font-face {
font-family: "Klik-Light";
src: url("fonts/Klik-Light.otf");
}

.wikitext {
    width: 90%;
    background: var(--imgtextbg);
    margin: var(--margintotop) auto var(--margintotop);
    border-radius: 1em;
    padding: 8px;
}

.wikitext p {
    padding-top: 4px;
    padding-bottom: 4px;
}

.wikitext a {
    color: var(--linkbarbg);
}

.wikitext ul {
    padding-top: 4px;
    padding-bottom: 4px;
}

.wikitext li{
    padding-top: 2px;
    padding-bottom: 2px;
}

.wikiimg {
    margin: var(--margintotop) 2em var(--margintotop);
    display: block;
    border: solid 2px;
    border-color: var(--pagebg);
    max-height: 192px;
    max-width: calc(100% - 4em);
}

.sectiontitle {
    background: var(--sectiontitlebg);
    margin-top: 0;
    margin-bottom: 0;
}

.sectiontitle h1 {
    margin: 0;
    padding-top: 8px;
    padding-left: 1.5em;
    font-family: "The-Bold-Font";
}
